<!DOCTYPE html>
<html lang="en">

<head>
   <title>Dashboard</title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

   <link rel="shortcut icon" href="assets-dashboard/images/favicon.png" type="image/x-icon">
   <link rel="icon" href="assets-dashboard/images/favicon.ico" type="image/x-icon">

   <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/icon/themify-icons/themify-icons.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/icon/icofont/css/icofont.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/icon/simple-line-icons/css/simple-line-icons.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/plugins/bootstrap/css/bootstrap.min.css">

   <link rel="stylesheet" href="assets-dashboard/plugins/chartist/dist/chartist.css" type="text/css" media="all">

   <link href="assets-dashboard/css/svg-weather.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/css/main.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/css/responsive.css">

</head>

<body class="sidebar-mini fixed">
   <div class="loader-bg">
      <div class="loader-bar">
      </div>
   </div>
   <div class="wrapper">

      <header class="main-header-top hidden-print">
         <a href="/" class="logo"><img class="img-fluid able-logo" src="assets-dashboard/images/logo2.svg" alt="Theme-logo"></a>
         <nav class="navbar navbar-static-top">

            <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
            <ul class="top-nav lft-nav">              
               <li class="dropdown">
                  <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                     <span>Admini Activi </span><i class=" icofont icofont-simple-down"></i>
                  </a>
                  <ul class="dropdown-menu settings-menu">
                     <li><a href="#">Admin 1</a></li>
                     <li><a href="#">Admin 2</a></li>
                     <li><a href="#">Admin 3</a></li>
                     <li><a href="#">Admin 4</a></li>
                     <li><a href="#">Admin 5</a></li>
                  </ul>
               </li>
            </ul>
               <ul class="top-nav">                   
                  <li class="pc-rheader-submenu">
                     <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                        <i class="icon-size-fullscreen"></i>
                     </a>

                  </li>
               
                  <li class="dropdown">
                     <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
    
                        <span>Ionut <b>Zorila</b> <i class=" icofont icofont-simple-down"></i></span>

                     </a>
                     <ul class="dropdown-menu settings-menu">
                        <li><a href="#!"><i class="icon-settings"></i> Settings</a></li>
                        <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                        <li><a href="/login"><i class="icon-logout"></i> Logout</a></li>

                     </ul>
                  </li>
               </ul>
         </nav>
      </header>

      <aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
       
            <ul class="sidebar-menu">
                <li class="nav-level">--- Navigation</li>
                <li class="active treeview">
                    <a class="waves-effect waves-dark" href="/dashboard">
                        <i class="icon-speedometer"></i><span>Meniu general</span>
                    </a>                
                </li>
                <li class="treeview">
                    <a class="waves-effect waves-dark" href="/tabel-clienti">
                        <i class="icon-list"></i><span> Tabel Clienti</span>
                    </a>                
                </li>
                <li class="nav-level">--- More</li>

                <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-docs"></i><span>Pages</span><i class="icon-arrow-down"></i></a>
                    <ul class="treeview-menu">
                        <li><a class="waves-effect waves-dark" href="/" target="_blank"><i class="icon-arrow-right"></i> Acasa</a></li>
                        <li><a class="waves-effect waves-dark" href="/about"><i class="icon-arrow-right"></i> Despre noi</a></li>  
                        <li><a class="waves-effect waves-dark" href="/about"><i class="icon-arrow-right"></i> Contact</a></li> 
                        <li><a class="waves-effect waves-dark" href="/products"><i class="icon-arrow-right"></i> Produse</a></li>
                    </ul>
                </li>
            </ul>
         </section>
      </aside>

      </div>
      <div class="content-wrapper">
         <div class="container-fluid">
            <div class="row">
               <div class="main-header">
                  <h4>Meniu Admin</h4>
               </div>
            </div>
            <div class="row dashboard-header">
               <div class="col-lg-3 col-md-6">
                  <div class="card dashboard-product">
                     <span>Asigurari Vandute</span>
                     <h2 class="dashboard-total-products">4500</h2>
                     <span class="label label-warning">Vanzari</span>
                     <div class="side-box">
                        <i class="ti-signal text-warning-color"></i>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="card dashboard-product">
                     <span>Asigurari Disponibile</span>
                     <h2 class="dashboard-total-products">37,500</h2>
                     <span class="label label-primary">Disponibil</span>
                     <div class="side-box ">
                        <i class="ti-gift text-primary-color"></i>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="card dashboard-product">
                     <span>Total  Incasat</span>
                     <h2 class="dashboard-total-products">RON<span> 30,780</span></h2>
                     <span class="label label-success">Total</span>
                     <div class="side-box">
                        <i class="ti-direction-alt text-success-color"></i>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="card dashboard-product">
                     <span>Total Profit</span>
                     <h2 class="dashboard-total-products">RON<span> 20,780</span></h2>
                     <span class="label label-danger">Profit</span>
                     <div class="side-box">
                        <i class="ti-rocket text-danger-color"></i>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4">
                  <div class="card">
                     <div class="user-block-2">
                        <h5>Statistici</h5>
                     </div>
                     <div class="card-block">
                        <div class="user-block-2-activities">
                           <div class="user-block-2-active">
                              <i class="icofont icofont-clock-time"></i> Accesari astazi
                              <label class="label label-primary">480</label>
                           </div>
                        </div>
                        <div class="user-block-2-activities">
                           <div class="user-block-2-active">
                              <i class="icofont icofont-users"></i> Useri inregistrati
                              <label class="label label-primary">45999</label>
                           </div>
                        </div>

                        <div class="user-block-2-activities">
                           <div class="user-block-2-active">
                              <i class="icofont icofont-ui-user"></i> Admini
                              <label class="label label-primary">5</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
              <!-- chart cu produse cumparate sau ceva pt proiect-->
            </div>
         </div>
      </div>
   </div>


   <!-- Required Jqurey -->
   <script src="assets-dashboard/plugins/Jquery/dist/jquery.min.js"></script>
   <script src="assets-dashboard/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script src="assets-dashboard/plugins/tether/dist/js/tether.min.js"></script>

   <!-- Required Fremwork -->
   <script src="assets-dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>

   <!-- Scrollbar JS-->
   <script src="assets-dashboard/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script src="assets-dashboard/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

   <!--classic JS-->
   <script src="assets-dashboard/plugins/classie/classie.js"></script>

   <!-- notification -->
   <script src="assets-dashboard/plugins/notification/js/bootstrap-growl.min.js"></script>

   <!-- Sparkline charts -->
   <script src="assets-dashboard/plugins/jquery-sparkline/dist/jquery.sparkline.js"></script>

   <!-- Counter js  -->
   <script src="assets-dashboard/plugins/waypoints/jquery.waypoints.min.js"></script>
   <script src="assets-dashboard/plugins/countdown/js/jquery.counterup.js"></script>

   <!-- Echart js -->
   <script src="assets-dashboard/plugins/charts/echarts/js/echarts-all.js"></script>

   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
   <script src="https://code.highcharts.com/highcharts-3d.js"></script>

   <!-- custom js -->
   <script type="text/javascript" src="assets-dashboard/js/main.min.js"></script>
   <script type="text/javascript" src="assets-dashboard/pages/dashboard.js"></script>
   <script type="text/javascript" src="assets-dashboard/pages/elements.js"></script>
   <script src="assets-dashboard/js/menu.min.js"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
$window.scroll(function(){
    if ($window.scrollTop() >= 200) {
       nav.addClass('active');
    }
    else {
       nav.removeClass('active');
    }
});
</script>

</body>

</html>
